@using System.Globalization
@foreach (var item in Products)
{
	<div class="col-md-3 mb-2">
		<a href="/ProductDetail/@item.Id">
			<div class="card">
				<img class="img-thumbnail" src="@item.ImageUrl"/>
				<div class="card-body">
					<p class="mb-4">@item.Description</p>
					<h5 class="card-title mb-3">@item.Price?.ToString("C", CultureInfo.GetCultureInfo("pt-BR"))</h5>
				</div>
			</div>
		</a>
	</div>   
}

@code {
	[Parameter]
	public IEnumerable<ProductDto>? Products { get; set; }
}
